// percent classes
@col-number-p: 4;
.create-p-width(@i:0) when(@i < @col-number-p){
    .p-width-@{i}{
       width: @i * (100% / @col-number-p);
    }
    .create-p-width(@i + 1);
}
.create-p-width();




@col-number-vw: 4;

// vw-width 
.create-vw-width(@i:0) when(@i < @col-number-vw){
    .vw-width-@{i}{
       width: @i * (100vw / @col-number-vw);
    }
    .create-vw-width(@i + 1);
}
.create-vw-width();

// vw-left
.create-vw-left(@i:0) when(@i < @col-number-vw){
    .vw-left-@{i}{
       left: @i * (100vw / @col-number-vw);
    }
    .create-vw-left(@i + 1);
}
.create-vw-left();
