@import "variables.less";

#datasDiv {
    
    .item  {
	margin-bottom: @u*6;

	.text {
	    margin-bottom: @u*1;
	    font-size: 150%;
	}

	.images {
	    //margin-left: @u*1;

	    .image{
		//border: 1px solid black;
		margin-right: @u*1;
		margin-bottom: @u*1;
		vertical-align: top;
	    }

	    .image:hover {
		cursor: pointer;
	    }

	    .resized {
		max-width: 100px;
		max-height: 100px;
	    }

	    .sources {
		max-width: 60%;
	    }
	}

	.files {
	    
	    .file {

	    }
	}

	.other {
	
	    .category {
	    }
	    .category:hover {
		text-decoration: underline;
	    }

	    .author {
	
	    }
	    .author:hover {
		    text-decoration: underline;
	    }

	}
    }
}
