@import "variables.less";

* {
    //background-color: rgba(0,0,0,0.1);
}

body {
    font-size: @bfs;
    font-family: 'HKGrotesk-Regular';
    line-height: @lh;
    min-width: 1300px;

    > div {
	height: auto;
	padding: @u*2; 
	box-sizing: border-box;
	
	> div {
	    margin-bottom: @u*1;
	}
    }
}

